extends layout

block content
	if catposts
		.main-body
			each post,i in catposts
				.carrier
					.text
						h2 #{post.title}
						p #{post.body}

						.links #{post.comments.length} Comments - Posted on #{moment(post.date).format('h:mm:ss a-DD, ddd MMM YYYY')} by #{post.author}
						a.btn.btn-secondary(href="/posts/#{post._id}/addcomment/", role="button") View details &raquo
	if catposts==''
		.container
			img.sorry(src='/images/sorry.jpg')
			h3 Oops!!! Sorry no post related to the category provided.